.job-card {
  background-color: #ffdfd3;
  border-radius: 8px;
}

.logo-company {
  .logo-company__img {
    border-radius: 4px;
  }
}

.job-card-info__salary,
.job-card-info__place,
.job-card-info__category {
  background-color: #957dad;
  color: #fff;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 6px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
