.job__list {
  margin: 0 50px !important;
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.job__list--item {
  width: 300px;
}

@media only screen and (max-width: 768px) {
  .job__list {
    position: relative;
    top: 100%;
    left: 48%;
    transform: translate(-52%, 0%);
  }

  .job__list--item {
    width: 300px;
  }
}

@media only screen and (max-width: 390px) {
  .job__list {
    justify-content: center;
    position: static;
    top: 0;
    left: 0;
    transform: translate(-0%, 0%);
  }

  .search__container {
    padding: 0;
  }
}
