@import '../../../../index.scss';

.ListsJobs{
    background-color:$bg_body;
    margin-top: 20px;
    width: 40%;
    max-height: 1340px;
    overflow: scroll;
    overflow-x: hidden;
    .jobs__title{
        font-size: 2.5rem;
        font-weight: 600;
        padding: 20px 24px;
    }
  
}