.search__container {
  padding: 50px 200px !important;
}

@media only screen and (max-width: 768px) {
  .search__container {
    padding: 20px 100px !important;
  }
}

@media only screen and (max-width: 390px) {
  .search__container {
    padding: 0 !important;
  }
  .search__container--item {
    margin: 0 !important;
  }
}
