.card {
  padding: 20px;
  margin-bottom: 30px !important;
  width: 315px !important;
  height: 360px !important;
  border: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
}

.card > img {
  object-fit: contain;
}

.card__body {
  padding-top: 35px;
  text-align: center;
}