.header {
  width: 100%;
  padding-top: 80px;
  background-color: #221f20;
  height: 300px;

  .title {
    color: #fff;
  }

  .input_search {
    height: 40px;
    width: 500px;
  }

  .input_search:focus {
    outline: none;
  }

  .jobs_match {
    margin-top: 20px;
    color: #fff;
  }
}
