.App {
  text-align: center;
  background-color: #ACA6A6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.job__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .job{
    margin-top: 100px;
    padding: 30px 30px 30px 40px;
   
    
    .job__content{
      position: relative;
      transition: all 0.5s ease-in-out;
      width: 300px; 
      height: 300px;
      background-color: #fff;
      border-radius: 30px;
      &:hover{
        box-shadow: -1px 2px 29px -1px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 29px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 2px 29px -1px rgba(0,0,0,0.75);
      }
      .content-name{
        display: inline-block;
        font-weight: 800;
        position: absolute;
        top: 200px;
        right: 120px;
        font-size: 17px;
        text-transform: uppercase;
      }
      .content-description{
        position: absolute;
        top: 220px;
      }
      .content__image{
        position: absolute;
        width: 100%;
        height: 200px;
        bottom: 100px;
        .content__image-random{
          
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 30px 30px 0 0 ;
          
        }
      }
      .content-tag{
        border-radius: 0 30px 0 30px;
        position: absolute;
        display: flex;
        width: 100px;
        height: 100px;
        z-index: 100;
        right: 0;
        top:0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.2s all;
        &:hover{
          opacity: 0.8;
        }
        .content__status{
          
          display: flex;
          justify-content: center;
          font-weight: 500;
          margin-top: 3px;
         }
     }
    }
  }
}
.btn__page{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 20px;
  margin-bottom: 50px;
  display: inline-block;
  transition: all 0.2s ease-in;
  &:hover{
    background-color:#0591AF ;
  }
  
}
.job__content--green{
  background-color: greenyellow;
}
.job__content--red{
  background-color: #CA5E5E;
}
.loading{
  min-height: 1500px;
  
  .loading__overlay{
    height: 1000px;
    
  }
}
.btn__page--focus{
  background-color: black;
  color:white;  
}

.page__change{
  width: 100px;
  height: 50px;
  border-radius: 30px;
  background-color: #002147;
  color:white;
  transition: all 0.2s ease-in;
  &:hover{
    background-color: #0591AF;
  }
}