$main-color : #f0101a;
.job{
    margin-left: 20%;
    margin-right: 20%;
    padding: 40px;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 0 rgba(66, 59, 59, 0.851);
    &::after{
        position: absolute;
        content: "Hot";
        top: 30px;
        right: 20px;
        background-color: orange;
        color: white;
        padding: 2px 10px;
        font-size: 15px;
    }
    &:hover{
        box-shadow: 0 0 5px 0 rgb(212, 16, 16);
        .job__tittle{
            h4{
                color: $main-color;
            }
        }
    }
    &__tittle{
        margin-left: 50px;
        h4{
            text-align: left;
        }
        .job__tech{
            text-align: left;
            a{
                text-decoration: underline dashed 1px;
                display: block;
                margin-bottom: 20px;
                color: gray;
                font-size: 15px;
            }
            button{
                margin-right: 10px;
                border: 1px solid black;
                padding: 1px 8px;
                font-size: 15px;
                background-color: transparent;
                &:hover{
                    border: 1px solid $main-color;
                    color: $main-color;
                }
            }
            .job__icon{
                border: 1px solid black;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                padding: 2px;
                font-size: 10px;
            }
        }
    }
    &__city{
        position: absolute;
        top: 80px;
        right: 20px;
        content: "";
        .job__posted{
            color: #06c;
            text-align: right;
        }
    }
    &__img{
        width: 80px;
        height: 80px;
        border: 1px black solid;
    }
}
.pagination{
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    &__item{
        &__link{
            color: $main-color;
            background-color: rgba(212, 16, 16, 0.167);
            padding: 10px 20px;
        }
        &__active{
            color: $main-color;
            background-color: white;
            padding: 10px 20px;
        }
    }
}

