.header {
  padding-left: 150px !important;
  padding-right: 150px !important;
}


@media only screen and (max-width: 768px) {
  .header {
    padding-top: 20px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}

@media only screen and (max-width: 390px) {
  .header {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}