.job {
    width: 800px;
    height: 300px;
    margin: 30px auto;
    border: 1px solid #f4f4f4;
    border-radius: 8px;

    .job__logo {
        float: left;
        padding-right: 40px;
    }

    .job__info {
        width: calc(100% - 340px);
        height: 100%;
        float: left;

        a.title {
            font-size: 50px;
            color: black;
            text-decoration: none;

            &:hover {
                color: red;
            }
        }

        .salary-location {
            width: 100%;
            display: flex;
            justify-content: space-between;

            p.salary,
            p.location {
                display: block;
                font-size: 14px;
                color: #9b9b9b;
            }
        }

        p.companyname {
            font-size: 14px;
            color: #9b9b9b;
        }
    }
}
