@import '../AllJobs/AllJobs';
.dashBoard{
    .search{
        .search__form{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .paginationBttns {
        width: 80%;
        height: 40px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 20px;
        a {
            padding: 10px;
            margin: 8px;
            border-radius: 5px;
            border: 1px solid #43464B;
            color: #43464B;
            cursor: pointer;
            &:hover {
                color: white;
                background-color: #43464B;
              }
          } 
      }
    .paginationActive a {
        color: white;
        background-color: #43464B;
    }
    .paginationDisabled a {
        color: grey;
        background-color: grey;
    }
}